@charset "UTF-8";
/* This file contains the stylings for mantzmusic.com */

/********** Main Styles **********/
body {
	background: url(oceanwayapicolorized.jpg)#000000 no-repeat fixed;
}
#container {
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: rgba(234,234,234,0.95);
}
#header {
	height: 288px;
}
#main_left {
	padding: 0 0 0 20px;
	float: left;
	width: 60%;
}
#main_left p {
	margin-right: -40px;
}
#sidebar_right {
	width: 25%;
	float: right;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	background-color: rgba(242,234,203,0.75)
}
#footer {
	background-color: black;
	color: white;
	font-size: .9em;
	padding: 20px;
	text-align: center;
	clear: both;
}
.clr {
	clear: both;
}
/********** Image Styles **********/
.imgleft {
	float: left;
	margin: 0 12px 0 0;
}
.imgcaption {
	font-size: .8em;
	margin: -6px 0 0 0;
}

/********** Quote Form *********/
#onLocationType {
	display: none;
}
#olMics {
	display: none;
}
#studioRecording {
	display: none;
}
#mixing {
	display: none;
}
#mastering {
	display: none;
}
